<ion-view class="welcome-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="app-copy col col-top">
         <!--<h1 class="app-logo">logo</h1>
        <p class="app-tagline">
            This app helps you discover and buy amazing things all in one place.
          </p> -->
          <img src="img/logo.png" style=" width: 100%;">
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-bottom">
        <a class="facebook-sign-in button button-outline button-block button-positive" ng-click="facebookSignIn()">
          Log in with Facebook
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
